:root {
    --color-text-title: rgb(255, 255, 255);
    --font-family-title: Inter;
    --background-element-title-bar: #000000;
    --title-bar-width: 74px;
    --title-bar-height: 64px;
}

.title-bar {
    width: 100%;
    display: grid;
    grid-template-columns: var(--title-bar-width) 1fr;
    grid-template-rows: var(--title-bar-height) 10px;
    grid-template-areas:
    "cube text"
    "cube line";
    
    .cube {
        box-sizing: border-box;
        padding: 10px;
        grid-area: cube;
        background-color: var(--background-element-title-bar);
        border-radius: 10px 10px 0 5px;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    h2 {
        grid-area: text;
        box-sizing: border-box;
        padding-left: 10px;
        margin: auto 0;
        
        font-family: var(--font-family-title);
        color: var(--color-text-title);
    }
    
    .line {
        grid-area: line;
        background-color: var(--background-element-title-bar);
        border-radius: 0 20px 20px 0;
    }
}

